/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */

#drop-cur input{
    height: 0px;
    width: 0px;
}

[data-background="light"] .logo-menu.d-none {
    display: block !important;
}
[data-background="light"] .logo-menu.d-block {
    display: none !important;
}